{% extends "./base.html" %}

{% block title %}
Who is the SPY? - Home
{% endblock %}

{% block rule-display %}
<li class="nav-item">
    <a class="nav-link" onclick="displayRule()">Display Rule</a>
</li>
{% endblock %}

{% block container %}
<div class="container text-center shadow-lg p-4 mb-4 bg-white" onload="userVisitCount()" style="padding: 10vh 20vw">
    <div class="col-sm-12" id="game-rules">
        <!-- rules will be appended here if the user is new or -->
        <!-- if the user click display rule hyperlink in the navigation bar -->
    </div>
    <div class="col-sm-12" style="text-align: center; padding-top: 7vh">
        <h2>Start From Here</h2><br>
        <div class="btn-group-vertical">
            <button class="btn btn-secondary" onclick="displayRule()" type="button">Game Intro</button>
            <div class="dropdown dropright">
                <button class="btn btn-secondary dropdown-toggle rounded-0" data-toggle="dropdown" type="button">Create
                    Room
                </button>
                <div class="dropdown-menu">
                    <!--                    <span class="dropdown-item-text">So far we only support to build a room with capacity 3 or 5</span>-->
                    <form method="post" action="{% url 'create_room' %}">
                    <button class="dropdown-item" name="room_capacity" value="3">Create a room for 3</button>
                    {% csrf_token %}
                    </form>

                    <form method="post" action="{% url 'create_room' %}">
                    <button class="dropdown-item" name="room_capacity" value="5">Create a room for 5</button>
                    {% csrf_token %}
                    </form>
                </div>
            </div>
            <button class="btn btn-secondary" data-target="#room-search" data-toggle="collapse" type="button">Join
                Room
            </button>
        </div>
        <br><br>
        <div id = "room-search" class="form-control collapse text-center border border-0 .h-25">
            <form method="post"  class="dropdown-item" action="{% url 'join_room' %}">
                <label class="control-label col-sm-6">Search the room number:</label><br>
                <input class="form-control text-center" type="number" name = "room_search_id" id = "room_search_id"></input>
                <button class="btn btn-light btn-sm" style="background-color: #333; color: #f1f1f1;" type="submit">Search</button>
            {% csrf_token %}
            </form>
            <div class="row"></div>
            <div class="row"></div>
        </div>
        {% if error %}
            <br><br><br><br>
            <p class="text-danger mx-auto w-auto">
                {{ error }}
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

