{% extends "./base.html" %}

{% block container %}
<div class="col-sm-12" style="text-align:center">
    <h1></h1>
    <br><br>
    <h2>Game Intro</h2>
    <br>
    <h5>Identities</h5>
    <p>Some text..</p>
    <h5>Rules</h5>
    <p>Some text..</p>
    <br>
</div>
<div class="col-sm-12" style="text-align:center">
    <h5>start from here</h5>
    <div class="btn-group-vertical">
        <button class="btn btn-primary" type="button">Create Room</button>
        <button class="btn btn-primary" type="button">Join Room</button>
        <button class="btn btn-primary" type="button">Game Intro</button>
    </div>
    <br><br>
</div>
{% endblock %}

