{% extends "./base.html" %}

{% block title %}
Who is the SPY? - Login
{% endblock %}

{% block nav-bar %}
<a class="navbar-brand" class="glyphicon glyphicon-registration-mark" href="{% url 'register' %}">Register</a>
{% endblock %}

{% block container %}
<div class="container text-center mx-auto" style="padding: 5vh 20vw; font-size: 20px">
    <form action="{% url 'login' %}" method="post">
        <br>
        <div class="input-group">
            <label class="control-label col-sm-3" for="username">Username:</label>
            <input class="form-control text-center" id="username" name="username" placeholder="Enter username" size="40vw"
                   type="text" required>
        </div><br>
        <div class="input-group">
            <label class="control-label col-sm-3" for="password">Password:</label>
            <input class="form-control text-center" id="password" name="password" placeholder="Enter password" size="40vw"
                   type="password" required>
        </div><br>

        {% if error %}
        <div class="input-group">
            <p class="text-danger">
                {{ error }}
            </p>
        </div>
        {% endif %}


        {% csrf_token %}
        <br><div class="input-group-btn">
            <button class="btn btn-light btn-lg" type="submit">Login</button>
        </div>
    </form>
</div>
{% endblock %}