{% extends "./base.html" %}

{% block page-name %}
<span id="id_page_name">
    {{ page_name }} Page for {{ user.first_name }} {{ user.last_name }}
</span>
{% endblock %}

{% block container %}
<div class="container-fluid text-center" style="padding: 10vh 35vw; font-size: 20px; margin-left: auto;margin-right: auto;">
    <div>
    <div class="user-img" >
        {% if profile.picture %}
            <img src="{% url 'photo' profile.id %}" width="200px">
        {% else %}
            <img src="/static/images/default.png" width="200px">
        {% endif %}
    </div>

    <form enctype="multipart/form-data" method="post" action="{% url 'profile' user.id %}">
        <br>
        <div class="user-bio">
            <textarea type="text" id="id_bio_input_text" name="bio" maxlength="400" cols="50" rowa="5">{{ profile.bio }}</textarea>
            <label style="display:flex">Profile Picture:</label>
            <input id="id_profile_picture" type="file" name="picture" style="display:flex"></input>
        </div>
        <br/>
        {% csrf_token %}
        <input class="btn btn-default btn-lg" type="submit" value="Submit" style="background-color: #E9ECEF; margin: 2vh 25vw;">
    </form>
    </div>
    <div class="user-following">
        <br/><br/>You are following:
        <ul>
            {% for follower in user.profile_user.following.all %}
                <li><a href="{% url 'profile' follower.id %}" id="id_profile_link_{{ follower.username }}">
                    {{ follower.first_name }} {{ follower.last_name }}</a></li>
            {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}