{% extends "./base.html" %}

{% block title %}
Who is the SPY? - Profile
{% endblock %}

{% block page-name %}
<span id="id_page_name">
    {{ page_name }} Page for {{ user.first_name }} {{ user.last_name }}
</span>
{% endblock %}

{% block container %}
<div class="container-fluid text-center mx-auto"
     style="font-size: 20px;">
    <div>
        <div class="user-img">
            {% if profile.picture %}
            <img src="{% url 'photo' profile.id %}" width="200px">
            {% else %}
            <img src="/static/images/default.png" width="200px">
            {% endif %}
        </div>

        <br>
        <form class="form-horizontal form-row justify-content-center" action="{% url 'profile' user.id %}" enctype="multipart/form-data" method="post">
            <div class="user-bio">
                <span style="margin-left: 15vw;">
                <label>Profile Picture:</label>
                <input id="id_profile_picture" name="picture" type="file"></input>
                </span>
                {% csrf_token %}
                <textarea class="text-center form-control z-depth-1" id="id_bio_input_text" name="bio" rows="3" style="resize: none" type="text">{{ profile.bio }}</textarea>
                <br>
                <input class="btn btn-light btn-lg" type="submit" value="Submit">

            </div>
        </form>
    </div>
    <div class="user-following">
        {% if user.profile_user.following.all.count > 1 %}
        <br/><br/>You are following:
        <ul>
            {% for follower in user.profile_user.following.all %}
            <li><a href="{% url 'profile' follower.id %}" id="id_profile_link_{{ follower.username }}">
                {{ follower.first_name }} {{ follower.last_name }}</a></li>
            {% endfor %}
        </ul>
        {% endif%}
    </div>
</div>
{% endblock %}