{% extends "./base.html" %}

{% block nav-bar %}
<a class="navbar-brand" class="glyphicon glyphicon-log-in" href="{% url 'login' %}">Login</a>
{% endblock %}

{% block container %}
<div class="container-fluid text-center" style="padding: 50px 25vw;">
    <form action="{% url 'register' %}" class="form-inline center" method="post" style="padding: 0px 10vw">
        <table>
            {% for field in form.visible_fields %}
            <tr>
                <td>{{field.label_tag}}</td>
                <td>{{field}}</td>
                <td class="error" style="padding: 2vh 25vw; color: #cd5c5c">
                    {% for error in field.errors %} {{error}} {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% csrf_token %}
        <button class="btn btn-default" type="submit">Register</button>
    </form>

    {% if error %}
    <div class="input-group center">
        <p class="error" style="padding: 2vh 25vw; color: #cd5c5c">
            {{ error }}
        </p>
    </div>
    {% endif %}

</div>>
{% endblock %}