{% extends "./base.html" %}

{% block title %}
Who is the SPY? - Home
{% endblock %}

{% block container %}
<div class="container" onload="userVisitCount()">
    <div class="get-quote">
    <div class="row">
        <div class="col-sm-12 d-flex">
            <h2 id="quote">ROOM FOR THREE</h2>
            <button class="btn btn-primary ml-auto" class="btn btn-info" onclick="displayRule();" id ="game_rule_button">Game Rules</button>  
        </div>
        <h5 class="col-sm-12 d-flex"> Room ID: {{room.id}}  Ready: {{room.ready}}</h5>
    </div>
    </div>
    <br><br>
    <div class="col-sm-12" id="game-rules" class="col-sm-12"></div>

</div>
{% endblock %}

