{% extends "./base.html" %}

{% block title %}
Who is the SPY? - Home
{% endblock %}

{% block container %}
<div class="container" onload="userVisitCount()">
    <div class="get-quote shadow-lg p-4 mb-4 bg-white">
        <div class="row">
            {% if error %}
            <p class="text-danger mx-auto w-auto">
                {{ error }}
            </p>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-11 d-flex" style="margin-bottom: 2rem">
                {% if room.capacity == 3 %}
                <h2 class="quote">ROOM FOR THREE</h2>
                {% else %}
                <h2 class="quote">ROOM FOR FIVE</h2>
                {% endif %}
                <div class="col-sm-10" id="game-rules"></div>
                <button class="btn btn-light btn-lg ml-ao " id="game_rule_button"
                        onclick="displayRule();">Game Rules
                </button>
            </div>
            <br><br>
            <h5 class="col-sm-12 d-flex">Current Players: {{ room.player.count }}</h5>
            {% if room.player.count != 0 %}
            <div id="display_player">
                {% for player in players %}
                <h6 class="col-sm-12 d-flex"><a class="text-info" href="{% url 'profile' player.player.id %}"id="{{ player.id }}">
                    {{ player.player.first_name }} {{ player.player.last_name }}</a>, ID: {{ player.game_id }}, Identity: {{ player.identity }} , Word: {{ player.word }}</h6><div>
            {% endfor %}
            </div>
            {% endif %}
            <br>
            <h5 class="col-sm-12 d-flex"> Room ID: {{room.id}} Ready: {{room.ready}}</h5>
            <br><br>
            <div class="col-sm-11 d-flex" style="margin-bottom: 2rem">
                <form method="post" action="{% url 'exit_room' %}">
                    <button name="exit_room_id" value="{{room.id}}" class="btn btn-light btn-lg" onclick="exitRoom()" style="background-color: #333; color: #f1f1f1; " >Exit Room</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var room_id = {{ room.id }};
    console.log("room id: " +  room_id);
    window.setInterval("displayPlayer(room_id)", 5000); // auto update players who joined the room
    // window.onload = "displayPlayer(room_id)";
    /*setInterval(function () {
      displayPlayer(room_id)
   }, 5000)*/

    /*setInterval(function () {
      var room_ready = "{{ room.ready }}";
      var ready = room_ready == "True";
      console.log("room ready: " + ready);
      if (ready) {
          "setup(room_id)";
      }
   }, 5000)*/

</script>

{% endblock %}