{% extends "./base.html" %}

{% block title %}
Who is the SPY? - Home
{% endblock %}

{% block container %}
<div class="container" onload="userVisitCount()">
    <div class="get-quote shadow-lg p-4 mb-4 bg-white">
        <div class="row">
            {% if error %}
            <p class="text-danger mx-auto w-auto">
                {{ error }}
            </p>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-11 d-flex" style="margin-bottom: 2rem">
                {% if room.capacity == 3 %}
                <h2 class="quote">ROOM FOR THREE</h2>
                {% else %}
                <h2 class="quote">ROOM FOR FIVE</h2>
                {% endif %}
                <div class="col-sm-10" id="game-rules"></div>
                <button class="btn btn-light btn-lg ml-ao" id="game_rule_button"
                        onclick="displayRule();">Game Rules
                </button>
            </div>
            <h5 class="col-sm-12 d-flex"> Room ID: {{room.id}} </h5>
            <br><br>
            {% if room.ready == False%}
            <h5 class="col-sm-12 d-flex" id="room_readiness_"> Ready:&nbsp; &nbsp;<span class=" text-danger">{{ room.ready }}</span>
            </h5>
            {% else %}
            <h5 class="col-sm-12 d-flex" id="room_readiness"> Ready: &nbsp; &nbsp;<span class=" text-success">{{ room.ready }}</span>
            </h5>
            {% endif %}
            <br><br>
            <h5 class="col-sm-2 d-flex col">Current Players:</h5>
            <div class="row">
                {% if room.player.count != 0 %}
                <div class="col-xl-12" id="display_player">
                    {% for player in players %}
                    <h6 class="col-sm-12 d-flex col"><a class="text-info" href="{% url 'profile' player.player.id %}"
                                                        id="{{ player.id }}">
                        {{ player.player.first_name }} {{ player.player.last_name }}</a></h6>
                    {% endfor %}
                 </div>

                    {% if room.ready == False %}
                    <form action="{% url 'invite_friend' %}" method="post">
                        <div class="input-group col-xl-12">
                            {% csrf_token %}
                            <select class="form-control" name="invite_friend_id">
                                <option selected>Invite Friends...</option>
                                {% for friend in friends %}
                                <option value="{{friend.id}}">{{friend.first_name }} {{ friend.last_name }}</option>
                                {% endfor %}
                            </select>
                            <span class="input-group-btn">
                            <button class="btn btn-light btn-secondary" name="invite_room_id" type="submit" value="{{room.id}}">Invite</button></span>
                        </div>
                    </form>
                    {% endif %}
                    <br><br><br>
                </div>
                {% endif %}
                <br>
                {% if room.ready == False%}
                <h5 class="col-sm-12 d-flex" id="your_word_"> Your Word: None </h5><br><br>
                {% else %}
                <h5 class="col-sm-12 d-flex" id="your_word"> Your Word: None </h5><br><br>
                {% endif %}
                <div class="col-sm-11 d-flex" style="margin-bottom: 2rem">
                    <form action="{% url 'exit_room' %}" method="post">
                        <button class="btn btn-light btn-lg ml-auto" id="exit_room_button" name="exit_room_id"
                                onclick="exitRoom()" value="{{room.id}}">Exit Room
                        </button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <!-- Chats -->
        <div class="col-sm-12" id = "chat_block"><br>
        <p class="text-danger float-right" id="game-messages"></p>

            <h2>CHATS</h2>

            <div class="col-sm-10 mx-auto" id="msg">

                <!-- voting -->
                <div id="vote" class="media p-5 mx-auto align-center" style="display:none">
                    <div class="col-sm-6">
                        <h5>The player that you think is the spy:</h5>
                    </div><br><br>
                    <form class="col-sm-4 max-auto">
                        {% for player in players %}
                            {% if player.is_dead == False %}
                                <p class="max-auto">{{ player.player.first_name }} {{ player.player.last_name }}:
                                    <input type="radio" name="vote" value="{{ player.id }}" onclick="getVote(this.value)">
                                </p>
                            {% endif %}
                        {% endfor %}
                    </form>
                </div>

                <!-- display messages -->
                <div class="col-sm-10" id="testing"></div>

                <!-- sending messages -->
                <div class="media border p-3" id="my_profile">
                    {% if profile.picture %}
                    <img class="mr-3 mt-3 rounded-circle" src="{% url 'photo' profile.id %}" style="width:60px;"
                         width="200px">
                    {% else %}
                    <img class="mr-3 mt-3 rounded-circle" src="/static/images/default.png" style="width:60px;"
                         width="200px">
                    {% endif %}
                    <div class="media-body">
                        <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                        <input class="form-control" id="send_msg">
                        <button class="btn btn-light btn-lg ml-ao" id="send_msg_button"
                                onclick="sendMessage('{{room.id}}')">Send
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mx-auto">
                <h5 id="message" class="text-danger max-auto"></h5>
            </div>

        </div>
    </div>

    <script>
        var myUserName = "{{ request.user.username }}"
        var room_id = {{ room.id }};
        console.log("username: " + myUserName);

        console.log("room id: " + room_id);
        var room_ready = "{{ room.ready }}";

        if (room_ready) {
            window.setInterval(function () {
                getMessage();
            }, 5000);

            window.setInterval(function () {
                updateGame()
                displayPlayer(room_id);
            }, 1000);

            // window.setInterval("displayPlayer(room_id)", 5000); // auto update players who joined the room
            // startTiming(); // put here for debug
        } else {
            window.setInterval("displayPlayer(room_id)", 5000);
            // window.setInterval("gameOn(room_id)", 5000); // auto update
        }

        // window.onload = "displayPlayer(room_id)";
        /*setInterval(function () {
          displayPlayer(room_id)
       }, 5000)*/

        /*setInterval(function () {
          var room_ready = "{{ room.ready }}";
          var ready = room_ready == "True";
          console.log("room ready: " + ready);
          if (ready) {
              "setup(room_id)";
          }
       }, 5000)*/

    </script>

    {% endblock %}